* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background: url(https://png.pngtree.com/thumb_back/fw800/background/20240731/pngtree-beautiful-night-sky-with-stars-image_15938132.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    background: transparent;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0 8px 18px rgba(0,0,0,0.1);
    animation: slideIn 0.5s forwards;
}
.Header:hover{
    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.header h1 {
    font-size: 24px;
    font-weight: 600;
    color: #d0d7df;
}

.header .user {
    display: flex;
    align-items: center;
    color: white;
}
.user:hover{
    /* color: white; */
    cursor: pointer;
}

.header .user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.header .user span {
    font-size: 16px;
    color: #b9c1ca;
}

.cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    animation: fadeInUp 0.8s forwards;
}

.card {
    width: 24%;
    background-color: #2b98c491;
    backdrop-filter: blur(50%);
    border-radius: 8px;
    box-shadow: 0 4px 8px ;
    padding: 20px;
    transition: all 0.3s ease;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 50px 12px rgba(2, 2, 0, 0.274);

}

.card h3 {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: black;
}